/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* Reset */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body { 
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
  color: #FFF2E7;
}

/* Header */

.header { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.header img { 
  height: 4.5rem;
}

nav { 
  display: flex;
  gap: 2rem;
}

.header-menu-item { 
  font-family: 'sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px;
}

/* Main */

.main {
  margin-bottom: 3rem; 
  border-top: 0.4px solid #FFF2E7;
}

.section-primary { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.content { 
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 { 
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

h2 { 
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.button { 
  background-color: #FFF2E7;
  color: black;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}

.button:hover { 
  background-color: rgba(236, 214, 196, 0.53);
}

.section-primary img { 
  height: 430px;
}

.section-secondary { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

h3 { 
 border-top: 0.4px solid #FFF2E7;
 padding-top: 3rem;
 font-family: 'Righteous', sans-serif;
 font-weight: 400;
 font-size: 1.5rem;
 margin-bottom: 1rem;
}

p { 
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* Footer */

.footer { 
  padding: 2rem;
  border-top: 0.4px solid #FFF2E7;
}

.footer img { 
  height: 48px;
  display: block;
  margin: auto;
}



